
.page-one-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: wheat;
}

.inner{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    height: 80%;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 68px -6px rgba(0, 0, 0, 0.918);
    display: flex;
    justify-content: space-between;
}

.input2 , .button{
    border:none;
    outline: none;
    background: none;
}

.photo{
    margin: 0;
    width: 50%;
    height: 100%;
    padding: 0 50px;
    background: white;

}

.photo img{
    width: 100%;
    height: 100%;
}



.loginForm{
    margin: 0;
    background:white;
    padding: 0 50px;
    width: 50%;
    height: 100%;

}

.loginForm h1{
    color: black;
    font-size: 25px;
    padding: 5px 0;
    margin: 25px 10px;
    font-weight: 700;
    text-align: center;
}

.loginForm i{
    position: absolute;
    margin: 25px 10px;
    color: black;
}

.input2{
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.label2{
    display: block;
    width:260px;
    margin:25px auto;
    text-align: center;
}
.label2 span{
    font-size: 14px;
    font-weight: 600;
    color:#505f75;
    text-align: center;
}
.action-btn{
    width: 100%;
    display: flex;
    margin: 30px 0;
}

.btn2{
    border: 1px solid rgb(47, 0, 255);
    color: rgb(89, 0, 255);
    padding: 10px;
    background: transparent;
    border-radius: 20px;
    width: 50%;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
}
.primary{
    color: white;
    border: none;
    background: linear-gradient(45deg, rgba(222,197,5,1) 24%, rgba(255,107,0,1) 100%);
}
.active{
    color: white;
    border: none;
    background: linear-gradient(45deg,rgb(180, 180, 180) 24%, rgb(180, 180, 180)100%);
}
.primary:hover{
    background: -webkit-linear-gradient(left,#FFB833,#FF5733) ;
}
.forgot-pass{
    margin-top:15px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #0c0101;
    cursor:pointer;
}
.forgot-pass:hover{
    color:red;
}
.loginForm img{
    padding-top: 30px;
    height:10%;
    width:30%;
}
.invalid{
    color:red;
    font-size: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.submit_button_new{
    width:50%;
    padding: 10px 30px;
    cursor:pointer;
    display: block;
    margin: auto;
    background:linear-gradient(45deg, rgba(222,197,5,1) 24%, rgba(255,107,0,1) 100%);
    border:0;
    outline:none;
    border-radius: 30px;
}

@media(max-width: 665px){
    .photo{
        display: none;
    }
    .loginForm{
        width: 100%;
        border-radius: 10px;
    }
}
@media screen and (max-width: 990px) and (min-width: 665px){
    .action-btn{
        margin: 5px;
        display: block;
        width: 100%;
    }
    .btn{
        width: 100%;
        margin: 5px;
        padding: 5px;

    }
}