#sidebar2{
    background: #020509;
    grid-area: sidebar;
    overflow-y:auto;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.sidebar__title2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#f3f4f6;
    margin-bottom: 30px;
}
.sidebar__img2{
    display:flex;
    align-items: center;
}
.sidebar__logo2 {

    width: 200px;
    object-fit: contain;
    margin-left: 200px;
    margin: 0 8px;
    margin-top: 5px;
}

.sidebar__title2>i{
    font-size: 18px;
    display: none;
}
.sidebar__menu2>h2{
    color: #3ea175;
    font-size:16px ;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 700;
}
.sidebar__link2{
    color:#f3f3f6;
    padding:10px;
    border-radius:3px;
    margin-bottom: 5px;
}

.sidebar__link__sub2{
    color:#f3f3f6;
    padding:10px;
    margin-right: 20px;
    border-radius:3px;
    margin-bottom: 5px;
}
.sidebar__link__sub2> a{
    padding-left: 40px;

    text-decoration: none;
    color:#a5aaad;
    font-weight: 700;
    font-size: 14px;
}


.active_menu_link2{
    background: rgba(62,161,117,0.3);
    color: #3ea175;
}
.active_menu_link2 .a{
    color: #3ea175;
}
.sidebar__link2 .a{
    text-decoration: none;
    color:#a5aaad;
    font-weight: 700;
}
.sidebar__link2 >i{
    margin-right: 10px;
    font-size: 18px;
}
.sidebar__logout2{
    margin-top: 20px;
    padding:10px;
    color:#e65061;
}
.sidebar__logout2 .a {
    text-decoration: none;
    color:#e65061;
    font-weight: 700;
    text-transform: uppercase;
}
.sidebar__logout2>i{
    margin-right: 10px;
    font-size: 18px;
}
 /*sidebar responsive missing here*/
@media only screen and (max-width: 978px){
    #sidebar2{
        display:none;
    }
    .sidebar__title2>i{
        display: inline;
    }
}