#sidebar{
    background: white;
    grid-area: sidebar;
    overflow-y:auto;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.sidebar__title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: cornflowerblue;
    margin-bottom: 30px;
}
.sidebar__img{
    display:flex;
    align-items: center;
}
.sidebar__logo {

    width: 200px;
    object-fit: contain;
    margin-left: 200px;
    margin: 0 8px;
    margin-top: 5px;
}

.sidebar__title>i{
    font-size: 18px;
    display: none;
}
.sidebar__menu>h2{
    color: white;
    font-size:16px ;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 700;
}
.sidebar__link{
    color: orange;
    padding:10px;
    border-radius:3px;
    margin-bottom: 5px;
}

.sidebar__link__sub{
    color:#f3f3f6;
    padding:10px;
    margin-right: 20px;
    border-radius:3px;
    margin-bottom: 5px;
}
.sidebar__link__sub> a{
    padding-left: 40px;

    text-decoration: none;
    color:#a5aaad;
    font-weight: 700;
    font-size: 14px;
}


.active_menu_link{
    background: blueviolet;
    color: lightpink;
}
.active_menu_link .a{
    color: darkslateblue;
}
.sidebar__link .a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.sidebar__link >i{
    margin-right: 10px;
    font-size: 18px;
}
.sidebar__logout{
    margin-top: 20px;
    padding:10px;
    color:#e65061;
}
.sidebar__logout .a {
    text-decoration: none;
    color:#e65061;
    font-weight: 700;
    text-transform: uppercase;
}
.sidebar__logout>i{
    margin-right: 10px;
    font-size: 18px;
}
 /*sidebar responsive missing here*/
@media only screen and (max-width: 978px){
    #sidebar{
        display:none;
    }
    .sidebar__title>i{
        display: inline;
    }
}